#revealPanel {
  font-size: 10vw;
}

nav .nav-wrapper .brand-logo {
  padding: 0px 15px;
}

/* body {
  background-color: #2c3035;
  color: #b5bfe0;
  font-family: 'century gothic', sans-serif;
}

pre {
  font-family: 'consolas', monospace;
}

input {
  background-color: #242525;
  border-color: #5e5d5a;
  color: #e5e0d8;
}

input[type=button] {
  background: transparent;
  border-radius: 5px;
  border: 2px outset #29a0e4;
  color: #b5bfe0;
}

input[type=button]:active {
  border: 2px inset #29a0e4;
} */